*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/
captures/

google-services.json
freeline.py
freeline/
freeline_project_description.json
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
